body {
  font-family:  "\5FAE\8F6F\96C5\9ED1","Microsoft YaHei",Arial, Verdana, SimSun-ExtB,arial,sans-serif;
  background-color: #fff;
}

.sk-cube-grid {
  width: .6rem;
  height: .6rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

header {
  height: .88rem;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

header:after {
  position: absolute;
  content:"";
  height:1px;
  left: 0;
  right:0%;
  bottom:0;
  height:1px;
  background: #ddd;
  transform:scaleY(0.5);
  -webkit-transform:scaleY(0.5);
  -moz-transform:scaleY(0.5);
  -ms-transform:scaleY(0.5); 
  -o-transform:scaleY(0.5);
}

header .back {
  color: black;
  position: absolute;
  left: 0.5rem;
}

header .back p {
  position: relative;
}

header .back p:before {
  content: '';
  border-top:1px solid #f00;
  border-left:1px solid #f00;
  width:0.24rem;
  height:0.24rem;
  margin-right: 0.1rem;
  display: inline-block;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}

header h4 {
  display: inline-block;
}

.container {

}

.container.app {
  margin-top: 0.88rem;
}

.index-list {

}


.bottom-wrapper {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-wrapper .btn {
  width: 3rem;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  color: #f00;
  background-color: #fff;
  border: 2px solid #f00;
  border-radius: 0.5rem;
}

.pull-right {
  position: absolute;
  right: 0.5rem;
  background-color: #eee;
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
}

.center{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.listUl{
  padding-left:10px;
}
.listUl li{
border-bottom:1px solid #ccc;
}
.textBox p{display: inline-block; margin-right: 1rem;}
.remBox{float:right; width: 1rem;height:1rem;}
.clear{ clear: both;}

.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal {
  width: 400px;
  height: 300px;
  background: rgb(80, 183, 252);
  padding: 30px;
}

.login-modal .group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.login-modal label::after {
  content: ':';
  margin-right: 20px;
}

.login-modal .btn {
  padding: 20px 40px;
  color: #fff;
  background: rgb(11, 75, 117);
}

.login-modal input {
  width: 70%;
  background: none;
  border: none;
  line-height: 20px;
  border-bottom: 1px solid rgb(11, 75, 117);
}

.news-container {
  padding: 0.3rem
}

.news-container h1 {
  font-size: .18rem;
  padding: 0.2rem 0
}

.news-container span {
  font-size: .12rem;
  color: #444;
}
.news-item {
  margin-bottom: 0.2rem;
}
.news-item p {
  font-size: .12rem;
  color: #444;
  padding: 0.2rem 0;
}

.news-container img {
  width: 100%;
}